@{
    ViewData["Title"] = "Snakey";
}
<div id="nt-page-home">
    AcmeCorp Homepage
    <first-component ref="myFirstComponent"></first-component>
    <second-component ref="mySecondComponent"></second-component>
</div>

@section scripts {
   <script src="~/js/site.min.js"></script>
}

