@{
    ViewData["Title"] = "Snakey";
}
<div id="snakey">
    <article-component ref="ArticleComponent"></article-component>
    
</div>

@section scripts {
   <script src="~/js/site.min.js"></script>
}

